.ToDoTasksCard {
  width: auto;
  height: 100%;
  padding: 16px;
  position: relative;
  height: fit-content;
  border-radius: 15px;

  border: 1px solid black;
  background-color: var(--blue);

  &__heading {
    height: 30px;
    word-wrap: break-word;
    word-break: break-all;
  }

  &__buttons {
    position: absolute;
    width: fit-content;
    height: 100%;
    padding: 20px;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(255, 255, 255, 0.5);
  }

  &__updateButton {
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 540px) {
  .ToDoTasksCard {
    padding: 10px;
    border-radius: 10px;

    &__information {
      font-size: smaller;
    }

    &__buttons {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
