.ToDoTasksCard {
  position: relative;
  margin-block: 20px;
  width: 100%;
  padding: 20px;
  border: 1px solid white;

  &__header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__buttons {
      display: flex;
      gap: 20px;
      flex-direction: row;

      &__updateButton {
        cursor: pointer;
        font-size: larger;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &__heading {
      height: 30px;
      word-wrap: break-word;
      word-break: break-all;
    }

    &__inputField {
      padding: 2px;
      width: 60%;
      font-size: large;
      font-family: "Righteous", cursive;

      &:focus {
        border: 5px solid var(--fav-color);
      }
    }
  }

  &__buttons {
    position: absolute;
    width: fit-content;
    height: 100%;
    padding: 20px;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(255, 255, 255, 0.5);
  }

  &__updateButton {
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 540px) {
  .ToDoTasksCard {
    font-size: smaller;
  }
}

@media screen and (max-width: 450px) {
  .ToDoTasksCard {
    font-size: small;
    padding: 10px;
  }
}
