.AddToDo {
  gap: 5%;
  margin: 1% 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__button {
    white-space: nowrap;

    cursor: pointer;
    color: white;
    padding: 10px;

    font-size: large;
    border-radius: 1rem;
    font-family: "Righteous", cursive;
    background-color: rgb(108, 29, 255);
  }

  &__input {
    width: 100%;
    height: 100%;

    padding: 5px;
    font-size: large;
    font-family: "Righteous", cursive;

    &:focus {
      border: 5px solid var(--fav-color);
    }
  }
}

@media screen and (max-width: 500px) {
  .AddToDo {
    &__header {
      margin: 4% 0%;
    }
  }
}

@media screen and (max-width: 420px) {
  .AddToDo {
    &__header {
      h1 {
        font-size: large;
      }
    }
  }
}
